# must be ended with a new line "LF" (Unix) and not "CRLF" (Windows)
* * * * * curl https://crm-hcfs-app-mvx9s.ondigitalocean.app/cron >> /dev/null 2>&1
# /usr/local/bin/php /workspace/application/artisan schedule:run >> /dev/null 2>&1
# An empty line is required at the end of this file for a valid cron file.
